<!DOCTYPE html>
<html  lang="ro">
    <%- include("../fragmente/head.ejs")  %> 
    <body>
    <%- include("../fragmente/header.ejs")  %> 
    <main>
        <div id="text-coloane">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est, vel nobis ullam facere eum id aperiam consequuntur officia iusto repudiandae nostrumx quisquam, dignissimos reiciendis aspernatur vitae obcaecati, hic aut assumenda?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident enim sequi cum, soluta perferendis odit eaque illum quia quaerat atque rerum assumenda ratione repudiandae ipsum hic maiores fugit quod officia.</p>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sit amet cum ut eveniet ratione facilis odit autem fugit, enim obcaecati? Explicabo, laudantium eius rem est architecto praesentium fugiat vero?</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores earum reiciendis at praesentium, quisquam, aut quas ullam, dolore neque corporis obcaecati molestias animi soluta mollitia. Quas ab fuga deserunt blanditiis.</p>
        </div>
        <div id="exemplu-selection">
            <p>Text de selectat</p>
        </div>
        <div id="text-animat">
            <p>Text animat</p>
        </div>
        <hr>
        <div id="text">
            Tyler The Creator
            <div id="reflexie">Tyler The Creator</div>
        </div>
        <div id="div-duotone">
        </div>
    </main>
    <%- include("../fragmente/footer.ejs");  %> 
    </body>
</html>