<footer>
    <a href="#" title="mergi sus" id="link-top"><div id="triunghi"></div></a>
    <address class="contact">
        <p>
            Ne puteți contacta telefonic la <a href="tel:+40712345678"><b>+40712345678</b></a>
        </p>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8842997291954!2d26.0995867!3d44.4355355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40b1ff472f47f047%3A0x493984726f0235f9!2sFacultatea%20de%20Matematic%C4%83%20%C8%99i%20Informatic%C4%83!5e0!3m2!1sro!2suk!4v1741183372187!5m2!1sro!2suk"></iframe>
            <br>
            Ne puteți găsi pe <a href="https://maps.app.goo.gl/jFLEfT9D3hKnX6PD7" target="_blank">Strada Academiei 14, București 010014, România</a>
        </p>
        <p>
            <i class="fa-solid fa-address-card fa-beat"></i> Contactați-ne prin e-mail <a href="mailto:office@turntabletreasures.com"><b>aici</b></a>
        </p>
        <p>
            Contactați-ne pe WhatsApp <a href="https://wa.me/7123456789" target="_blank"><b>aici</b></a>
        </p>
        <p>
            <small>Copyright &copy;, <time datetime="2025-03-03">3 Martie 2025</time></small>
        </p>
    </address>
</footer>