<head>
    <title>Turntable Treasures - Your online vinyl shop</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="discuri vinil, albume, recente, bestsellers">
    <meta name="description" content="Magazin online de discuri vinil. Albume pentru toate genurile muzicale.">
    <meta name="author" content="Andrei Vlășceanu">
    <link rel="icon" type="image/png" href="/resurse/ico/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/svg+xml" href="/resurse/ico/favicon/favicon.svg">
    <link rel="shortcut icon" href="/resurse/ico/favicon/favicon.ico">
    <link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/favicon/apple-touch-icon.png">
    <link rel="manifest" href="/resurse/ico/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#a6a6a6">
    <link rel="stylesheet" type="text/css" href="/resurse/css/general.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/nav1200.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/nav800.css">
    <link rel="stylesheet" type="text/css" href="/resurse/css/print.css">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"/>
</head>