<header>
    <h1><a href="/#">Turntable Treasures</a></h1>
    <input type="checkbox" id="hamburgerToggle" hidden>
        <label for="hamburgerToggle" id="hamburgerLabel">
        <span class="hamburgerLine"></span>
        <span class="hamburgerLine"></span>
        <span class="hamburgerLine"></span>
        </label>
    <nav>
        <ul class="meniu">
            <li id="butonHome"><a href="/#" class="iconHome">
                <i class="fa-solid fa-house"></i> <span class="textHome">Home</span></a></li>
            <li class="butonMeniu"><a href="/#sectiune1Despre">Despre noi</a>
                <ul class="subcategorie">
                    <li class="butonSubmeniu"><a href="/#subsectiune1-1">Povestea noastră</a></li>
                    <li class="butonSubmeniu"><a href="/#subsectiune1-2">Cui ne adresăm?</a></li>
                </ul>
            </li>
            <li class="butonMeniu"><a href="/despre">Alte pagini</a>
                <ul class="subcategorie">
                    <li class="butonSubmeniu"><a href="/despre">Despre</a></li>
                    <li class="butonSubmeniu"><a href="/galerie">Galerie statică</a></li>
                    <li class="butonSubmeniu"><a href="/galerie-animata">Galerie animată</a></li>
                </ul>
            </li>
            <li class="butonMeniu"><a href="/#sectiune2">Adăugate recent</a></li>
            <li class="butonMeniu"><a href="/#sectiune3">Bestsellere</a></li>
            <li class="butonMeniu"><a href="/#sectiune4">Link-uri utile</a>
                <ul class="subcategorie">
                    <li class="butonSubmeniu"><a href="/#subsectiune4-1">Genius</a></li>
                    <li class="butonSubmeniu"><a href="/#subsectiune4-2">Rate Your Music</a></li>
                    <li class="butonSubmeniu"><a href="/#subsectiune4-3">Întrebări frecvente</a></li>
                </ul>
            </li>
            <li class="butonMeniu"><a href="/#sectiune5">Catalog</a></li>
            <!--<li class="butonMeniu"><a href="/#sectiune6">Playlist-uri</a></li>-->
            <li class="butonMeniu"><a href="/#sectiune7">Artiști</a></li>
            <li class="butonMeniu"><a href="/#tabel">Festivaluri</a></li>
        </ul>
    </nav>
</header>